/* COLOURS */
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
/*************************** GENERAL Form Style */
.less-strong-stuff {
  font-weight: 800;
  font-size: 1em;
}
.strong-stuff {
  font-weight: 500;
  font-size: 1.2em;
}
.strong-stuff:first-line {
  font-size: 1.3em;
  font-weight: 700;
}
.italic-stuff {
  font-style: italic;
}
.box-stuff {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #e5e0dc;
  border-width: thin;
}
.ds-form-3col-stacked {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 1160px;
  background-color: #d1e5ff;
}
.ds-form-3col-stacked .tabledrag-toggle-weight {
  visibility: hidden;
  height: 0;
}
.ds-form-3col-stacked table.tableheader-processed {
  width: 200px;
}
.ds-form-3col-stacked h3 {
  /*     border-bottom: 2pt groove @plum; */

  text-transform: uppercase;
  padding: 2pt;
  text-align: center;
  width: 80%;
  margin: 0 auto 0 auto;
  display: block;
  background-color: #3366cc;
  color: #ffffff;
  /*     span { padding: 0 15px; background-color: @white;} */

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.ds-form-3col-stacked .form-wrapper {
  width: 90%;
}
.ds-form-3col-stacked .form-item {
  width: 100%;
}
.ds-form-3col-stacked .group-left {
  padding: 10px;
  width: 380px;
  background-color: #ffcc99;
  margin: 4px;
  height: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.ds-form-3col-stacked .group-middle {
  width: 280px;
  padding: 10px;
  height: 100%;
}
.ds-form-3col-stacked .group-middle div {
  width: 100%;
}
.ds-form-3col-stacked .group-right {
  width: 280px;
  padding: 10px;
  border-left: solid 1pt #ffffff;
  background: #ebf3ff;
  height: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 4px;
}
.ds-form-3col-stacked .form-item {
  width: 100%;
}
/* Editorial (Article) & Classified Node Form Style */
.node-article-form .ds-form-3col-stacked .group-left,
.node-classified-form .ds-form-3col-stacked .group-left {
  width: 320px;
}
.node-article-form .ds-form-3col-stacked .group-middle,
.node-classified-form .ds-form-3col-stacked .group-middle {
  width: 390px;
}
.node-article-form .ds-form-3col-stacked .group-right,
.node-classified-form .ds-form-3col-stacked .group-right {
  width: 365px;
}
.node-article-form .ds-form-3col-stacked #edit-field-image-und,
.node-classified-form .ds-form-3col-stacked #edit-field-image-und {
  width: 300px;
}
/* Display Ad Node Form */
.node-display_ads-form #field-ad-copy-add-more-wrapper {
  width: 100%;
}
.node-display_ads-form #field-ad-copy-add-more-wrapper #edit-field-ad-copy-und-0-format {
  width: 100%;
}
.node-display_ads-form .ds-form-3col-stacked .group-left {
  margin: 4px;
  width: 320px;
  height: 750px;
}
.node-display_ads-form .ds-form-3col-stacked .group-left .form-item {
  border: none;
}
.node-display_ads-form .ds-form-3col-stacked .group-left input {
  width: 100%;
}
.node-display_ads-form .ds-form-3col-stacked .group-left .image-widget {
  width: 55%;
}
.node-display_ads-form .ds-form-3col-stacked .group-left .image-widget img {
  float: left;
}
.node-display_ads-form .ds-form-3col-stacked .group-middle {
  width: 365px;
}
.node-display_ads-form .ds-form-3col-stacked .group-middle .cke_skin_kama,
.node-display_ads-form .ds-form-3col-stacked .group-middle .cke_skin_kama,
.node-display_ads-form .ds-form-3col-stacked .group-middle table.cke_editor {
  width: 350px;
  height: 300px;
}
.node-display_ads-form .ds-form-3col-stacked .group-right {
  width: 365px;
}
/* .ds-form-3col-stacked .group-middle .cke_skin_kama .cke_editor { width: 200px } */
/* Page node form */
/* node attachments node form */
.node-attachment-form.ds-form-3col #edit-title,
#page-node-form #edit-title {
  width: 250px;
}
.node-attachment-form.ds-form-3col .group-middle,
#page-node-form .group-middle {
  width: 400px;
}
.node-attachment-form.ds-form-3col #body-add-more-wrapper #edit-body-und-0-value,
#page-node-form #body-add-more-wrapper #edit-body-und-0-value,
.node-attachment-form.ds-form-3col #body-add-more-wrapper .form-textarea-wrapper .grippie,
#page-node-form #body-add-more-wrapper .form-textarea-wrapper .grippie {
  width: 380px;
}
.node-attachment-form.ds-form-3col .group-right,
#page-node-form .group-right {
  width: 380px;
}
/*************************** ADMIN Interface */
.view-display-admin-v2 table,
.view-id-editorial_administration table,
.view-id-page_administration table {
  border: none;
}
.view-display-admin-v2 td.editorial-col,
.view-id-editorial_administration td.editorial-col,
.view-id-page_administration td.editorial-col,
.view-display-admin-v2 td.display-col,
.view-id-editorial_administration td.display-col,
.view-id-page_administration td.display-col,
.view-display-admin-v2 td,
.view-id-editorial_administration td,
.view-id-page_administration td {
  width: 15%;
  vertical-align: bottom;
}
.view-display-admin-v2 td.editorial-col .views-field-status,
.view-id-editorial_administration td.editorial-col .views-field-status,
.view-id-page_administration td.editorial-col .views-field-status,
.view-display-admin-v2 td.display-col .views-field-status,
.view-id-editorial_administration td.display-col .views-field-status,
.view-id-page_administration td.display-col .views-field-status,
.view-display-admin-v2 td .views-field-status,
.view-id-editorial_administration td .views-field-status,
.view-id-page_administration td .views-field-status {
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  padding: 3pt;
  width: 180px;
  /*       height: 38px; */

  border: 1pt solid #ffff00;
}
.view-display-admin-v2 td.editorial-col .Enabled,
.view-id-editorial_administration td.editorial-col .Enabled,
.view-id-page_administration td.editorial-col .Enabled,
.view-display-admin-v2 td.display-col .Enabled,
.view-id-editorial_administration td.display-col .Enabled,
.view-id-page_administration td.display-col .Enabled,
.view-display-admin-v2 td .Enabled,
.view-id-editorial_administration td .Enabled,
.view-id-page_administration td .Enabled {
  background-color: #ffffcc;
}
.view-display-admin-v2 td.editorial-col .Disabled,
.view-id-editorial_administration td.editorial-col .Disabled,
.view-id-page_administration td.editorial-col .Disabled,
.view-display-admin-v2 td.display-col .Disabled,
.view-id-editorial_administration td.display-col .Disabled,
.view-id-page_administration td.display-col .Disabled,
.view-display-admin-v2 td .Disabled,
.view-id-editorial_administration td .Disabled,
.view-id-page_administration td .Disabled {
  background-color: #39ff30;
}
.view-display-admin-v2 td.editorial-col .field-promote-status-Promoted,
.view-id-editorial_administration td.editorial-col .field-promote-status-Promoted,
.view-id-page_administration td.editorial-col .field-promote-status-Promoted,
.view-display-admin-v2 td.display-col .field-promote-status-Promoted,
.view-id-editorial_administration td.display-col .field-promote-status-Promoted,
.view-id-page_administration td.display-col .field-promote-status-Promoted,
.view-display-admin-v2 td .field-promote-status-Promoted,
.view-id-editorial_administration td .field-promote-status-Promoted,
.view-id-page_administration td .field-promote-status-Promoted {
  background-color: #046300;
}
.view-display-admin-v2 td.editorial-col .views-field,
.view-id-editorial_administration td.editorial-col .views-field,
.view-id-page_administration td.editorial-col .views-field,
.view-display-admin-v2 td.display-col .views-field,
.view-id-editorial_administration td.display-col .views-field,
.view-id-page_administration td.display-col .views-field,
.view-display-admin-v2 td .views-field,
.view-id-editorial_administration td .views-field,
.view-id-page_administration td .views-field,
.view-display-admin-v2 td.editorial-col .views-field-item,
.view-id-editorial_administration td.editorial-col .views-field-item,
.view-id-page_administration td.editorial-col .views-field-item,
.view-display-admin-v2 td.display-col .views-field-item,
.view-id-editorial_administration td.display-col .views-field-item,
.view-id-page_administration td.display-col .views-field-item,
.view-display-admin-v2 td .views-field-item,
.view-id-editorial_administration td .views-field-item,
.view-id-page_administration td .views-field-item {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.view-display-admin-v2 td.editorial-col .views-field-bulk-actions,
.view-id-editorial_administration td.editorial-col .views-field-bulk-actions,
.view-id-page_administration td.editorial-col .views-field-bulk-actions,
.view-display-admin-v2 td.display-col .views-field-bulk-actions,
.view-id-editorial_administration td.display-col .views-field-bulk-actions,
.view-id-page_administration td.display-col .views-field-bulk-actions,
.view-display-admin-v2 td .views-field-bulk-actions,
.view-id-editorial_administration td .views-field-bulk-actions,
.view-id-page_administration td .views-field-bulk-actions {
  width: 8%;
  padding: 4px 4px 15px 4px;
  float: left;
}
.view-display-admin-v2 td.editorial-col .views-field-title a,
.view-id-editorial_administration td.editorial-col .views-field-title a,
.view-id-page_administration td.editorial-col .views-field-title a,
.view-display-admin-v2 td.display-col .views-field-title a,
.view-id-editorial_administration td.display-col .views-field-title a,
.view-id-page_administration td.display-col .views-field-title a,
.view-display-admin-v2 td .views-field-title a,
.view-id-editorial_administration td .views-field-title a,
.view-id-page_administration td .views-field-title a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
  color: #000000;
  height: 30px;
  overflow: hidden;
}
.view-display-admin-v2 td.editorial-col .views-field-body,
.view-id-editorial_administration td.editorial-col .views-field-body,
.view-id-page_administration td.editorial-col .views-field-body,
.view-display-admin-v2 td.display-col .views-field-body,
.view-id-editorial_administration td.display-col .views-field-body,
.view-id-page_administration td.display-col .views-field-body,
.view-display-admin-v2 td .views-field-body,
.view-id-editorial_administration td .views-field-body,
.view-id-page_administration td .views-field-body {
  height: 60px;
  overflow: hidden;
}
.view-display-admin-v2 td.editorial-col .field-promote-status--promote,
.view-id-editorial_administration td.editorial-col .field-promote-status--promote,
.view-id-page_administration td.editorial-col .field-promote-status--promote,
.view-display-admin-v2 td.display-col .field-promote-status--promote,
.view-id-editorial_administration td.display-col .field-promote-status--promote,
.view-id-page_administration td.display-col .field-promote-status--promote,
.view-display-admin-v2 td .field-promote-status--promote,
.view-id-editorial_administration td .field-promote-status--promote,
.view-id-page_administration td .field-promote-status--promote {
  border-bottom: 10pt solid #ffff00;
}
.view-display-admin-v2 td.editorial-col .new-marker .marker,
.view-id-editorial_administration td.editorial-col .new-marker .marker,
.view-id-page_administration td.editorial-col .new-marker .marker,
.view-display-admin-v2 td.display-col .new-marker .marker,
.view-id-editorial_administration td.display-col .new-marker .marker,
.view-id-page_administration td.display-col .new-marker .marker,
.view-display-admin-v2 td .new-marker .marker,
.view-id-editorial_administration td .new-marker .marker,
.view-id-page_administration td .new-marker .marker {
  width: 95%;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  padding: 2px;
  font-weight: bolder;
  background-color: #fe4e4e;
  color: #ffffff;
  font-size: .8em;
  line-height: .9em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.view-display-admin-v2 td.editorial-col .no-marker,
.view-id-editorial_administration td.editorial-col .no-marker,
.view-id-page_administration td.editorial-col .no-marker,
.view-display-admin-v2 td.display-col .no-marker,
.view-id-editorial_administration td.display-col .no-marker,
.view-id-page_administration td.display-col .no-marker,
.view-display-admin-v2 td .no-marker,
.view-id-editorial_administration td .no-marker,
.view-id-page_administration td .no-marker {
  display: none;
}
.view-display-admin-v2 .field-publish-link,
.view-id-editorial_administration .field-publish-link,
.view-id-page_administration .field-publish-link,
.view-display-admin-v2 .views-editorial-link,
.view-id-editorial_administration .views-editorial-link,
.view-id-page_administration .views-editorial-link,
.view-display-admin-v2 .views-admin-display-link,
.view-id-editorial_administration .views-admin-display-link,
.view-id-page_administration .views-admin-display-link {
  float: left;
  margin: 0;
  padding: 0;
}
.view-display-admin-v2 .field-publish-link a,
.view-id-editorial_administration .field-publish-link a,
.view-id-page_administration .field-publish-link a,
.view-display-admin-v2 .views-editorial-link a,
.view-id-editorial_administration .views-editorial-link a,
.view-id-page_administration .views-editorial-link a,
.view-display-admin-v2 .views-admin-display-link a,
.view-id-editorial_administration .views-admin-display-link a,
.view-id-page_administration .views-admin-display-link a {
  text-decoration: none;
  background-color: #d1e5ff;
  color: #003366;
  width: 60px;
  font-size: .6em;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding: 2px 4px;
  margin: 2px 4px;
  width: 100%;
}
.view-display-admin-v2 .field-publish-link a:hover,
.view-id-editorial_administration .field-publish-link a:hover,
.view-id-page_administration .field-publish-link a:hover,
.view-display-admin-v2 .views-editorial-link a:hover,
.view-id-editorial_administration .views-editorial-link a:hover,
.view-id-page_administration .views-editorial-link a:hover,
.view-display-admin-v2 .views-admin-display-link a:hover,
.view-id-editorial_administration .views-admin-display-link a:hover,
.view-id-page_administration .views-admin-display-link a:hover {
  background-color: #fe4e4e;
  color: #ffffff;
}
.view-display-admin-v2 .field-clone-link a,
.view-id-editorial_administration .field-clone-link a,
.view-id-page_administration .field-clone-link a {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  margin-right: 0;
  width: 35px;
}
.view-display-admin-v2 .field-edit-link a,
.view-id-editorial_administration .field-edit-link a,
.view-id-page_administration .field-edit-link a {
  margin-left: 0;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  color: #ffffff;
  background-color: #09c900;
}
.view-display-admin-v2 .field-unpublish-link,
.view-id-editorial_administration .field-unpublish-link,
.view-id-page_administration .field-unpublish-link {
  background-color: #ffffff;
}
.view-display-admin-v2 .views-fields-clear-all,
.view-id-editorial_administration .views-fields-clear-all,
.view-id-page_administration .views-fields-clear-all {
  clear: both;
  float: none;
  line-height: 0px;
}
/*** editorial admin *****/
.view-id-editorial_administration .col-2,
.view-id-editorial_administration .col-4 {
  background-color: #fbfaf9;
}
.views-field-editorial-header-image {
  height: 180px;
}
/* specific admin display quick link button tweaks */
.views-dispaly-admin-status-links {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.views-dispaly-admin-status-links .field-publish-link a {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  margin: 0;
  margin-right: 4px;
}
.views-dispaly-admin-status-links .field-edit-link a {
  margin: 0;
  margin-left: 4px;
  /*     margin-right: 6px; */

}
.views-dispaly-admin-status-links .field-clone-link a {
  margin: 0;
  margin-left: 10px;
  padding-right: 2px;
}
.views-dispaly-admin-status-links .field-link-link a {
  margin: 0;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}
/* page admin */
.view-id-page_administration.view-display-id-page table td {
  vertical-align: bottom;
}
/******************* Classifieds Table Layout ADMIN ********/
/* #views-form-classified-ad-administration-classified-pagelink { */
.vbo-views-form table {
  /* status */

}
.vbo-views-form table tr.classified-admin-table-row-published-Not {
  background-color: rgba(254, 78, 78, 0.2);
  border-color: #fe4e4e;
  border-width: 1pt 5pt;
}
.vbo-views-form table tr.classified-admin-table-row-published-Published {
  border-color: #09c900;
  border-width: 1pt 5pt;
}
.vbo-views-form table tr.odd.classified-admin-table-row-published-Not {
  background-color: rgba(254, 129, 129, 0.2);
  border-color: #fe8181;
  border-width: 1pt 5pt;
}
.vbo-views-form table tr.odd.classified-admin-table-row-published-Published {
  border-color: #0bfc00;
}
.vbo-views-form ul li {
  list-style: none;
}
.vbo-views-form td.views-field-field-publish,
.vbo-views-form td.views-field-unpublish-on,
.vbo-views-form td.views-field-changed {
  width: 250px;
}
.vbo-views-form td.views-field-field-tags {
  width: 100px;
}
