/****************  VARIABLES  ***********/
/* COLOURS */
/*****************  MIXIN'  *****************/
/* rounded corners */
/* center block */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* drop shadow */
/* opacity */
/* cols */
/* rotate */
/*****************  BASE  *****************/
body {
  background-color: #d1e5ff;
  background: #ffffff url(../images/pw_back1.jpg) no-repeat;
  /* style */

  /* conetextual links */

  /* TABS */

}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body h7,
body h7,
body h8,
body a,
body h1 a,
body h2 a,
body h3 a,
body h4 a,
body h5 a,
body h6 a,
body h7 a,
body h7 a,
body h8 a {
  /*   font-size: 1.1; */

  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  line-height: 1.2em;
  text-decoration: none;
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}
body a {
  text-decoration: none;
}
body h1 {
  font-size: 2.4 em;
}
body h2 {
  font-size: 2.2 em;
}
body h3 {
  font-size: 2 em;
}
body h4 {
  font-size: 1.8 em;
}
body h5 {
  font-size: 1.6 em;
}
body h6 {
  font-size: 1.4 em;
}
body h7 {
  font-size: 1.2 em;
}
body h8 {
  font-size: 1 em;
}
body #region-content {
  /*     background-color: @white; */

}
body .block {
  background-color: #ffffff;
}
body .block a {
  text-decoration: none;
}
body fieldset {
  background-color: #e5e0dc;
  padding: 10px;
}
body fieldset .fieldset-wrapper {
  padding: 10px;
}
body fieldset .collapsed .fieldset-wrapper {
  height: 30px;
  margin-left: 40px;
}
body .item-list ol li {
  list-style: inherit;
  list-style-position: inside;
}
body .item-list ul li {
  list-style: none;
  list-style-position: inherit;
}
body .item-list ul.bullet li {
  list-style: square;
  list-style-position: inherit;
}
body blockquote {
  margin-left: 10%;
  padding: 2%;
  background-color: #e5e0dc;
  border: 1pt solid #330033;
  border-left: 0;
  border-right: 0;
}
body blockquote p {
  margin: 2%;
  padding: 2%;
}
body blockquote p:first-line {
  font-weight: bold;
}
body .tabs ul {
  background-color: #003366;
  margin: 0;
}
body #page-title {
  text-align: center;
  font-size: 3em;
}
/*****************  SIDEBAR FIRST  *****************/
#region-sidebar-first .block {
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  padding: 3px 3px 10px 3px;
  margin: 0 0 15px 0;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
#region-sidebar-first .block h2, #region-sidebar-first .block #edit-search-ads-wrapper label {
  background-color: #003366;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 0 5px 0;
}
/* search block */
#views-exposed-form-search-ads-search-page #edit-search-ads {
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#views-exposed-form-search-ads-search-page .views-exposed-widget {
  padding: 0px;
  margin: 0px;
  float: none;
}
/* ad placement block */
#block-ad-payment-ad-payment-create-ad {
  text-align: center;
}
#block-ad-payment-ad-payment-create-ad a {
  font-size: 1.4em;
}
/* sections */
#block-views-taxonomy-listing-block-1 {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
#block-views-taxonomy-listing-block-1 div, #block-views-taxonomy-listing-block-1 span {
  margin: 0;
  padding: 0;
}
#block-views-taxonomy-listing-block-1 .views-row {
  margin: 0 0 0 5px;
  padding: 2px 0 3px 4px;
  line-height: 1.2em;
  line-spacing: -0.05em;
}
#block-views-taxonomy-listing-block-1 a {
  text-transform: capitalize;
  line-height: .8em;
}
#block-views-taxonomy-listing-block-1 .views-row-odd {
  background-color: #d1e5ff;
}
.classified-section-link {
  /* List style for taxonomy section links. */

  list-style: none;
}
/*****************  SIDEBAR SECOND  *****************/
.view-display-id-poster_block {
  padding: 0 0 20px 0;
}
/*****************  DISPLAY ADS  *****************/
.view-display-id-poster_block .views-row {
  margin-bottom: 20px;
}
#block-views-display-ad-blocks-banner-block {
  background-color: inherit;
  padding: 0;
  margin: 0;
}
#block-views-display-ad-blocks-banner-block a .img {
  margin: 4px auto 20px auto;
  display: block;
}
/*****************  EDITORIAL  *****************/
/* default block - header*/
.view-id-editorial_views {
  /* list items */

}
.view-id-editorial_views h6 {
  font-size: 1em;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: -0.1;
  margin: 0 0 5px 0;
  padding: 0;
  text-transform: uppercase;
}
.view-id-editorial_views .field-name-body {
  line-height: 1em;
  font-size: .95em;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
}
.view-id-editorial_views p {
  margin: 0;
  padding: 0;
}
.view-id-editorial_views .field-name-node-link {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: .8em;
  text-transform: uppercase;
}
/* slideshow */
.region-header-second h2.block-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #003366;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-size: .8em;
  line-height: .9em;
  padding: 2px;
}
.region-header-second .view-content {
  height: 130px;
  background-color: #ffffff;
}
.view-editorial-slideshow .field-name-field-image {
  float: left;
  margin: 0 10px 0 0;
  height: 130px;
  overflow: hidden;
}
.view-editorial-slideshow .field-name-title h6 {
  margin: 0 0 10px 0;
  font-size: 1.6em;
  line-height: 1.4em;
}
.view-editorial-slideshow .field-name-title h6 a {
  color: #000000;
}
.view-editorial-slideshow .field-name-body {
  margin: 0;
  padding: 0;
  letter-spacing: -0.08em;
  font-size: .9em;
  display: inline;
  visibility: hidden;
  height: 0px;
  float: left;
}
.view-editorial-slideshow .field-name-node-link {
  text-transform: uppercase;
  font-size: 1.2em;
  display: inline;
}
/*****************  CLASSIFIEDS  *****************/
/* section header box */
#block-views-taxonomy-listing-block-2 {
  background-color: #fbfaf9;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#block-views-taxonomy-listing-block-2 h2.block-title {
  text-align: center;
}
#block-views-taxonomy-listing-block-2 ul {
  padding: 10px 30px 0px 30px;
  /* .cols; */

}
#block-views-taxonomy-listing-block-2 ul li {
  width: 75%;
  padding: 0 0 0 10px;
  list-style-position: inherit;
  /*       list-style: square; */

}
#block-views-taxonomy-listing-block-2 ul .views-row-even {
  background-color: #f0edeb;
}
#block-views-taxonomy-listing-block-2 ul .classified-section-link {
  list-style: square;
}
/* classified ads */
.content .classified-ad-header {
  background-color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.content .classified-ad-header h3 {
  margin: 25px 0 4px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  background-color: #003366;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}
.content .classified-ad-header h3 a {
  color: #ffffff;
  text-decoration: none;
}
.content .classified-ad-section {
  list-style: none;
  /* .cols; */

  /* zebra strip */

  /* liveload */

}
.content .classified-ad-section li {
  padding: 4px;
  margin: 4px 0;
  /* Individual Ads */

  /* Publish Link */

}
.content .classified-ad-section li .views-row {
  padding: 5px;
  margin: 0 0 5px 0;
}
.content .classified-ad-section li .classified-ad-copy:first-line {
  font-weight: bolder;
}
.content .classified-ad-section li .field-publish-link {
  display: block;
  background-color: #fe4e4e;
  color: white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 1em;
  margin-right: 5px;
  text-align: center;
  float: left;
}
.content .classified-ad-section li .field-publish-link a {
  color: #ffffff;
  padding: 2px;
}
.content .classified-ad-section .views-row-odd {
  background-color: #f0edeb;
}
.content .classified-ad-section .row-type-Liveload {
  background-color: #fff8dd;
  border: 2pt dotted #ffff00;
}
.content .classified-ad-section .row-type-Liveload:first-line {
  color: #fe4e4e;
}
.content .classified-ad-section .views-row-odd.row-type-Liveload {
  background-color: #fff3c3;
}
.content .classified-ad-section .views-row .Liveload-footer {
  text-align: center;
  padding: 2pt;
  text-transform: uppercase;
  font-size: .8em;
  line-height: .9em;
  font-weight: bolder;
  background-color: #ffff00;
}
.content .classified-ad-section .views-row .Regular-footer {
  visibility: hidden;
  height: 0px;
}
.content .classified-ad-section li:first-line {
  font-weight: bold;
}
/*****************  ADMIN  *****************/
/*****************  EDITORIAL  *****************/
