/****************  VARIABLES  ***********/

/* COLOURS */

@black: #000;
@white: #fff;
@gray: #e5e0dc;

@classified_dark: #036;
@classified_med: lighten(@classified_dark, 15); // #36C;
@classified_light: #d1e5ff;

@editorial: #339a00;
@editorial_light: #a4d2b3; /* lighten(@editorial, 25); */
@editorial_dark: #060; /* darken(@editorial, 10); */

@other: #fc4021; /*  #F63;  */
@other_dark: darken(@other, 25);
@other_light: lighten(@other, 25);
@other_extra_light: lighten(@other_light, 25);

@plum: #303;
@peach: #FC9;

@sand: #e5e0dc;
@lightsand: lighten(@sand, 10%);
@darksand: darken(@sand, 5);

@sunlight: rgb(255, 248, 221);
@darklight: darken(@sunlight, 5);

@alert: #fe4e4e;
@warning: #ff0;
@status: lighten(#060, 10);

@highlight: lighten(#900, 20);

.background-color-lighten(@colour, @amount: 10) {
  background-color: lighten(@colour, @amount);
}


/*****************  MIXIN'  *****************/
/* isolate box -- for debuging */
.border{
    border: 1pt solid @alert;
}

/* rounded corners */
.border-radius (@radius: 10px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.border-radius-custom (@top_left: 10px, @top_right: 10px, @bottom_right: 0, @bottom_left: 0) {
  border-radius: @top_left @top_right @bottom_right @bottom_left;
  -moz-border-radius: @top_left @top_right @bottom_right @bottom_left;
	-webkit-border-radius: @top_left @top_right @bottom_right @bottom_left;
}

/* drop shadow */
.drop-shadow (@x: 3px, @y: 3px, @depth: 4px, @colour: @darksand) {
  -moz-box-shadow: @x @y @depth @colour;
  -webkit-box-shadow: @x @y @depth @colour;
  box-shadow: @x @y @depth @colour;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


/* center block */
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* drop shadow */
.text-drop-shadow (@colour: @black) {
  text-shadow: 1px 1px 0px #fff, 2px 2px 6px @colour;
}
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
	-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.box-shadow-off () {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* opacity */
.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

/* cols */
.cols (@cols: 2, @width: 1em) {
	-moz-column-count: @cols;
	-moz-column-gap: @width;
	-webkit-column-count: @cols;
	-webkit-column-gap: @width;
	column-count: @cols;
	column-gap: @width;

 -webkit-column-span:1; /* Chrome */
 column-span:1;

	widows: 8;
	orphans: 8;
}


/* rotate */
.rotate(@deg: 90deg) {
  transform:rotate(@deg);
  -ms-transform:rotate(@deg); /* IE 9 */
  -moz-transform:rotate(@deg); /* Firefox */
  -webkit-transform:rotate(@deg); /* Safari and Chrome */
  -o-transform:rotate(@deg); /* Opera */
}

.button (@background: @highlight, @link_text: @white, @hover: @warning, @link_hover: @white, @padding: 5px) {
  a {
    .border-radius;
    background-color: @background;
    color: @link_text;
    padding: @padding;
  }
  a:hover {
    background-color: @hover;
    color: @link_hover;
  }
}

/*****************  BASE  *****************/
body {
  background-color: @classified_light;
	background: #FFF url(../images/pw_back1.jpg) no-repeat;

  h1, h2, h3, h4, h5, h6, h7, h7, h8, a,
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a, h7 a, h8 a, {
  /*   font-size: 1.1; */
    font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: normal;
    line-height: 1.1em;
    text-decoration: none;
    letter-spacing: -0.05em;
    margin-bottom: 16px;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 1.6 em;
  }
  h2 {
    font-size: 1.5 em;
  }
  h3 {
    font-size: 1.4 em;
  }
  h4 {
    font-size: 1.3 em;
  }
  h5 {
    font-size: 1.2 em;
  }
  h6 {
    font-size: 1.2 em;
  }
  h7 {
    font-size: 1.2 em;
  }
  h8 {
    font-size: 1 em;
  }

  p {

  }

  #region-content {
    background-color: @white;
    .border-radius-custom;
  }


  .block {
    background-color: @white;
    a {
      text-decoration: none;
    }
  }

  /* style */
  fieldset {
    background-color: @sand;
    padding: 10px;
    .fieldset-wrapper {
      padding: 10px;
    }
    .collapsed .fieldset-wrapper {
      height: 30px;
      margin-left: 40px;
    }
  }
  .item-list {
    ol li {
      list-style: inherit;
      list-style-position: inside;
    }
    ul li {
      list-style: none;
      list-style-position: inherit;
    }
    ul.bullet li {
      list-style: square;
      list-style-position: inherit;
    }
  }

  .block {
    background-color: inherit;
    h2 {
      color: @white;
      a { color: @white; }
      background-color: @classified_med;
      .border-radius-custom;
      margin: 0;
      padding: 5px;
      text-align: center;
    }
      /* all lists in blocks lose their bullets */
    li {
      list-style: square;
    }
  }
  blockquote {
    margin: 5px 0 25px 0;
/*     padding: 2%; */
    background-color: @sand;
    border: 1pt solid @plum;
    border-left: 0;
    border-right: 0;
    p {
      margin: 2%;
      padding: 2%;
    }
    p:first-line {
      font-weight: bold;
    }
  }

  /* conetextual links */
  /* TABS */
  .tabs {
    ul {
      background-color: @classified_dark;
      margin: 0;
    }
  }
}
#page-title {
  background-color: @classified_dark;
  .border-radius-custom;
  padding: 5px;
  color: @white;
  text-align: center;
  font-size: 2em;

}
/***************** LAYOUT ***********************/
#zone-header {
  padding-bottom: 8px;
}
/***************** HEADER :: CONTACT BAR  ********/
#block-pennywise-pw-contact {
  background-color: transparent;
  margin: 10px 0;
  display: table;
  width: 100%;
  #pw-contact-info-block {
    margin: 0;
    background-color: @white;
    border: solid 2pt @classified_light;
/*     padding: 4px; */
    .center;
    .border-radius;
    height: 40px;

/*     div {display: inline; } */
  }
  dt, dd {
    display: inline;
    font-size: .8em;
    font-weight: bolder;
    margin: 0; padding: 0;
  }
  dt {
    margin: 0;
    padding: 0;
  }
  dd {
/*     margin: 0 10px 0 4px; */
    .button;
  }
  /* Individual Fields */
  .pw-contact-wrapper {
    margin: 4px;
    width: 170px;
    float: left;
    line-height: 1.2em;
    display: table-cell;
    vertical-align: middle;
  }
  dt.pw-contact-label {
    width: 100%;
    text-align: center;
    display: block;
  }
  dd.pw-contact-value {
    font-size: larger;
    clear: both;
  }
  .pw-contact-toll_free-wrapper {
    font-size: .9em;
    font-weight: bolder;
    background-color: @sunlight;
    .border-radius;
    max-width: 200px;
    margin: 2px;
  }
  dt.pw-contact-email-label, dt.pw-contact-facebook-label, dt.pw-contact-address-label {
    display: none;
  }
  dd.pw-contact-email-value, dd.pw-contact-address-value  {
    font-size: smaller;
  }
  .pw-contact-email-wrapper {
    max-width: 60px;
    padding: 6px 4px;
  }
  .pw-contact-facebook-wrapper {
    max-width: 60px;
    margin: 8px;
    height: 100%;
    vertical-align: middle;
  }
  dd.pw-contact-facebook-value, .pw-contact-facebook-wrapper {
    padding: 0;
    margin: 0;
  }
  dd.pw-contact-facebook-value a {
    float: left;
    background-image: url(../../../../default/files/facebook-logo_30.png);
    color: transparent;
    background-color: inherit;
    background-repeat: no-repeat;
    .border-radius(0);
    width: 40px;
    height: 30px;
    background-position-x: 5px;
    background-position-y: 5px;
  }
  dd.pw-contact-facebook-value a:hover {
    color: @black;
  }
  dd.pw-contact-address-value {
    display: block;
    line-height: 1.1em;
    width: 180px;
    font-size: 1em;
    padding: 4px 0 0 0 ;
  }

  /* mobile hide */
  .pw-contact-local_phone-wrapper, .pw-contact-fax-wrapper, .pw-contact-address-wrapper {
    display: none;
  }

}


#region-preface-third {
  width: 75%;
  .center;

}

/********** HIDE ON MOBILE *****************/
#zone-postscript,
#zone-threeup,
#region-header-second,
#region-splash-one,
#region-splash-two,
#block-feedback-form {
  display: none;
  height: 0px;
}
#region-header-first {
  max-width: 580px;
  img {
    max-width: 100%;
    min-height: 60px;
  }
}

#region-branding {
/*   width: 460px; /* Grid 6 */
  .logo-img {
    a {
      .center;
/*       padding: 10px; */
    }
  }
}

/**************** Contextual Links ***/
.contextual-links-wrapper {
  .contextual-links {
    li {
      list-style: none;
      border: none;
      a {
        border: none;
      }
    }
  }
}

/****************** HEADER *************************/
#zone-menu, #region-header-first {
  h2.block-title {
    display: none;
  }
}

/******* MOBILE NAVIGATION BLOCKS ********/
#region-preface-first {
  .region-preface-first-inner {
    background-color: @classified_light;
    margin: 10px;
    padding: 10px;
    .border-radius;
    .form-item {
      margin: 8px;
    }
    #edit-jump, #edit-jump--2 {
/*       margin: 20px; */
      font-size: 1.2em;
      margin: 5px 0;
    }
  }
}

/*****************  BLOCKS  *****************/

.region-sidebar-first #edit-jump {
  width: 136px;
}

#region-sidebar-first .block {
  padding: 3px 3px 10px 3px;
  margin: 0 0 15px 0;
  h2, #edit-search-ads-wrapper {
    label {
      color: @white;
      text-transform: uppercase;
      text-align: center;
      font-size: 1em;
      line-height: 1.2em;
      margin: 0 0 5px 0;
    }
  }
  ul.menu li {
    list-style: none;
    padding: 2pt 4pt;
    margin: 0;
  }
}

/* search block */
#views-exposed-form-search-ads-search-page {
    .border-radius;
    background-color: @classified_dark;
    padding: 4px 1px;
  label {
  }
  #edit-search-ads {
    width: 130px;
    .center;
  }
  .views-exposed-widget {
    padding: 0px;
    margin: 0px;
    float: none;
  }
}

/* Mobile Search */
.zone-preface #views-exposed-form-search-ads-search-page {
  /* Search box in preface */
  background-color: @other;
  color: @white;
  margin-bottom: 20px;
  .form-item, input {
    width: 100%;
  }
}

/* submit ad block */
#block-ad-payment-ad-payment-create-ad {
  border: 0;
  padding: 0;
  margin: 0;
  h2 { display: none; }
}

.contact-button, #ad-submission-link-wrapper {
  margin-bottom: 10px;
  .center;
  a:link {
    color: @white;
    background-color: @other;
    padding: 5px;
    .border-radius;
    border: 2pt solid @white;
    .drop-shadow;
  }
  a:visited { color: @white; }
  a:hover {
    .drop-shadow(3px, 3px, 6px, lighten(@black, 10));
    background-color: @other_dark;
  }
  a.contact-button {
    width: 50%;
  }
}
#ad-submission-link-wrapper {
  font-size: 1.6em;
  width: 100%;
}



/*****************  DISPLAY ADS  *****************/


/* Advertising Links Block */
#block-menu-menu-advertising-links {
  h2 {
    background-color: @other;
  }
  ul li {
    border-bottom: 1pt solid @sand;
  }
}

/* Poster Block */
#block-views-display-ad-blocks-poster-block {
  padding: 0 0 20px 0;
  .views-row {
    margin-bottom: 20px;
    float: left;
    padding: 5px 10px;
    .center;
  }
  .view-footer {
    clear: both;
  }
}

/* Banner Block */
#block-views-display-ad-blocks-x  -block {
  .views-row {
    background-color: transparent;
  }
  padding: 0; margin: 5px 0;
  a {
    .center;
    .img {
      margin: 4px auto 20px auto;
      display: block;
    }
  }
}

/* display ad pages - simple page */
#region-user-second {
  #edit-search-ads-wrapper {
    color: @white;
    text-align: center;
  }
}
.node-type-display-ads {
  .ds-2col-stacked.node-display-ads {
    .field-name-field-display-ad {
      a {
        img {
          .center;
        }
      }
    }
  }
}


/*****************  BLOCKS  *****************/
/**** Classified DHTML Link Block ******/
ul.pw-classified-nav-list {
  width: 95%;
  .border-radius-custom(0,0,10px,10px);
  background-color: @white;
  padding: 5px;
  li.views-row-even {
    background-color: @lightsand;
    line-height: .9em;
  }
  li.pw-classified-nav-row {
    border-top: @darksand 1pt solid;
    list-style: none;
    padding: 2px 5px;
  }
  li.pw-classified-nav-row a:hover {
    width: 100%;
    background-color: @sand;
    .border-radius;
  }
  li.views-row-1 {
    border: none;
    padding-top: 0;
  }
  li:hover {
    background-color: @darksand;
  }
}
/*
  menu.expanded {
    background-color: @sand;
  }
  li.expanded ul.menu { display: none; }
  li.active-trail {
    ul.menu { display: block; }
    background-color: @classified_dark;
    a {
      color: @white;
    }
    ul {
      margin-top: 5px;
      background-color: @classified_light;
      .border-radius;
      a { color: @classified_dark; }
      li.active-trail {
        background-color: @sunlight;
      }
      li:hover {
        background-color: @classified_med;
        a { color: @white; }
      }
      li.leaf {
        border-bottom: 1pt solid @white;
      }
      li.leaf.last {
        border-bottom: 0;
      }
    }
  }
*/

/* } */

#block-views-editorial-views-editorial-block {
  display: none;
  height: 0;
}



/** User Login **/
.not-logged-in #user-login {
  background-color: @plum;
  color: @white;
  .description {
    color: @white;
  }
}



/*  Editorial Highlight/Recent BLOCK  */
#views_slideshow_cycle_main_editorial_slideshow-editorial_slideshow_block,
.view-display-id-editorial_block, .view-display-id-recent_editorial_block {
  .views-row {
    border-bottom: 1pt solid @editorial_light;
  }
  .views-row-odd, .views-row-even {
    background-color: @white;
  }
  .field {
    margin: 0;
    padding: 0px;
  }
  .field-name-field-image {
    padding: 0;
  }

   .views-field-title, .field-name-title, {
    padding: 0 3px;
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: center;
  }

  .views-field-body,  .field-name-body,{
    text-align: left;
    letter-spacing: -0.08em;
    font-size: .9em;
    line-height: 1em;
  }
  .field-name-node-link {
    margin: 0 0 3px 0;
    text-align: center;
    .button(@editorial, @white, @editorial_dark, @white, 2px);
    a {
      margin: 3px;
      float: right;
    }
  }
  .pager ul, .pager li.pager-next, .pager li.pager-current, .pager li a{
    background-color: @editorial_dark;
    color: @white;
    background-image: none;
    height: 12px;
  }
}

/*  Slideshow BLOCK */
 .view-editorial-slideshow  {
  #views_slideshow_cycle_main_editorial_slideshow-editorial_slideshow_block {
/*     width: 340px; */
    background-color: @lightsand;
  }
  .view-header {
    text-align: center;
    .border-radius-custom (5px, 5px, 0, 0);
    background-color: @editorial_dark;
    a {
      width: 100%;
      color: @white;
      padding: 2px 50px;
      p { line-height: 1 em; margin: 0;}
    }
    a:hover {
      color: @warning;
    }
  }
  .group-left {
    width: 140px;
  }
  .group-right {
    width: 195px;
  }
  .field field-name-body {
    height: 120px;
    overflow: hidden;
    display: block;

  }
  .field-name-node-link {
    text-transform: uppercase;
    font-size: .9em;
    display: block;
    width: 140px;
  }
/*  .field-item, .even, .odd {
    background-color: @lightsand;
  }
  .editorial-slideshow-title {
    h6 {
      margin: 0;
      padding: 2px 4px;
      font-size: 1.2em;
      line-height: 1.1em;
      letter-spacing: -0.08em;
      a { color: @black; }
    }
  }
  a.editorial-slideshow-link{
    .center;
    margin: 0; padding: 0;
    text-transform: uppercase;
    color: @white;
    padding: 1px;
    background-color: @editorial_dark;
  }
  .view-header, .view-footer {
  }
  a.editorial-slideshow-link{
    .center;
    margin: 0; padding: 0;
    text-transform: uppercase;
    color: @white;
    padding: 1px;
    background-color: @editorial_dark;
  }
  .view-footer a {
    .border-radius-custom (0, 0, 5px, 5px);
  }

  .view-content, .node-article {
    height: 130px;
    background-color: @white;
  }
  .field-name-field-image {
    float: left;
    height: 130px;
    overflow: hidden;
    img {
      padding: 0 10px 0 0;
    }
  }
  .field-name-body, .field-type-text-with-summary {
    margin: 0;
    letter-spacing: -0.08em;
    font-size: .9em;
  }
*/
}
/************ Main Editorial PAGE */
.node-article.view-mode-full, .view-editorial-views  {
  letter-spacing: -0.06em;
  line-height: 1.2em;
/*   li { list-style: none; } */
  .views-field-field-image {
    .center;
    img { margin-bottom: 10px; }
  }
  .views-field-title {
    text-align: center;
    margin-top: 8px;
  }
  .views-field-body {
    p {
      margin: 5px;
      padding: 0 20px;
      text-align: justify;
    }
  }
  .views-field-view-node a {
    margin: 10px auto;
    display: block;
    padding: 2px 10px;
    width: 200px;
    background-color: @other_light;
    color: @plum;
    .border-radius;
    text-align: center;
    border: 1pt solid @other_light;
  }
  .views-field-view-node a:hover {
    background-color: @other;
    color: @white;
  }
/*
  .field-group-fieldset {
    font-size: .9em;
    padding: 10px;
    .field {
      margin: 2px;
    }
  }
*/
  .fieldset-wrapper {
    margin: 0; padding: 0;
    width: 90%;
  }

  legend {
    display: none;
  }
  .editorial-page-highlight-attachment {
    .views-field-field-image img{
      max-width: 580px;
      max-height: 400px;
    }
  }
  /* details and info boxes */
}
#node_article_full_group_editorial_details {
  float: left;
  width: 90%;
  margin: 10px 20px 0 10px;
}
#node_article_full_group_editorial_more {
  float: left;
  clear: both;
  width: 90%;
  margin: 0 20px 20px 10px;
}


/*****************  CLASSIFIEDS  *****************/

/* Main Sections BLOCK */
.view-section-pages, .view-search-ads {
   li.views-row-even, .views-row-odd {
      background-color: @lightsand;
    }
    li.views-row-odd,  .views-row-even {
      background-color: @sand;
    }
}

.classified-full_section-links {
  background-color: @white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.1em;
  line-height: 1.2em;
  line-spacing: -0.05em;
  li {
    list-style: none;
    padding: 2pt 2pt 3pt 4pt;
  }
  li.classified-full-section-link-row{
    list-style: none;
  }
  li.views-row-even {
    background-color: @lightsand;
  }
  .classified-full-section-link-row a:hover {
    color: @alert;
  }
}
.classified-section-link { /* List style for taxonomy section links. */
/*   list-style: none; */
}

/* page title */
.page-taxonomy-term h1#page-title {
  margin: 0;
  padding: 4px;
}
/* sub_section links BLOCK */
#block-views-taxonomy-listing-tax-sub-list {
  background-color: @lightsand;
  margin: 0;
  width: 100%;
  .block-inner {
    font-size: large;
    .center;
/*     max-width: 100%; */
    margin: 0;
    min-width: 100px;
    overflow: hidden;
  }
  h2.block-title {
    margin: 0;
    text-align: center;
    .border-radius(0);
  }
  .classified-sub_section-links {
    ul {
      padding: 10px 30px 0px 30px;
      li {
        list-style: none;
        text-align: left;
        line-height: 10pt;
        font-size: 8pt;
        padding-bottom: 5px;
      }
      /* .cols; */
      .classified-sub-section-link-row a{
        width: 75%;
        padding: 2px 10px;
        border-left: 5pt solid @lightsand;
/*         border-right: 5pt solid @lightsand; */
      }
      .classified-sub-section-link-row a:hover{
        border-left: 5pt solid @classified_light;
/*         border-right: 5pt solid @classified_light; */
        background-color: @white;
      }

    }
  }
}

/* classified ads */
.content {
  .classified-ad-header {
    background-color: @white;
    .border-radius;
    h3 {
      margin: 25px 0 4px 2px;
      text-align: center;
      text-decoration: none;
      font-size: 1.4em;
      background-color: @classified_dark;
      .border-radius-custom;
      a {
        color: @white;
        text-decoration: none;
      }
    }
  }
  .classified-ad-section {
    list-style: none;
    /* .cols; */
    li {
      list-style: none;
      padding: 4px;
      margin: 4px 0;
      /* Individual Ads */
      .views-row {
        padding: 5px;
        margin: 0 0 5px 0;
        a img, img {
          .center;
        }
      }
      .classified-ad-copy:first-line {
        font-weight: bolder;
      }
  }

    /* liveload */
    .row-type-Liveload {
      background-color: @sunlight;
      border: 2pt dotted @warning;
    }
    .row-type-Liveload:first-line {
      color: @alert;
    }
    .views-row-odd.row-type-Liveload {
      background-color: @darklight;
    }
    .views-row .Liveload-footer {
      text-align: center;
      padding: 2pt;
      text-transform: uppercase;
      font-size: .8em;
      line-height: .9em;
      font-weight: bolder;
      background-color: @warning;
    }
    .views-row .Regular-footer {
      display: none;
      height: 0px;
    }

    li:first-line {
      font-weight: bold;
    }
  }
}
/* read-more link */
.classified-more-link a {
  font-size: .7em;
  color: @plum;
  background-color: @classified_light;
  padding: 1px 2px;
  border: 1pt solid @classified_light;
  .border-radius;
}

.classified-more-link a:link:hover {
  color: @white;
  background-color: @classified_dark;
  border: 1pt solid @other_dark;
}

/** Classified Ad Page **/

.node-type-classified {
  #page-title { display: none;}
  .ds-2col-stacked {
    .group-left {
      width: 100%;
    }
    .group-right {
      width: 90%;
    }
  }
  .classified-detail-box {
    margin: 0 10px;
  }
  .field-name-field-ad-copy {
    font-size: 1.4em;
  }
  .field-name-field-ad-copy :first-line {
    font-weight: bold;
  }
  .field-name-field-link {
    word-wrap: break-word;
  }
}
#node_classified_full_group_details {
  width: 190px;
}

/*****************  ADMIN  *****************/
/**********  SEE PENNYWISE MODULE **********/

/* inline delete link */
.inline-x-delete-link {
  a:link {
    display: block;
    .border-radius(4px);
    font-size: 1em;
    margin-right: 5px;
    text-align: center;
    float: left;
    background-color: @other;
    color: @white;
    padding: 2px;
    border: 1pt solid @other;
  }
  a:hover {
    background-color: lighten(@other_light, 10);
    color: @other;
  }
}


/*****************  SPECIFIC PAGES  *****************/
.page-node {
  /* attachments */
  .node-attachment {
    .center;
    .field-name-title {
      margin-top: 15px;
    }
    .field-name-field-entity-reference .even {
      background-color: @lightsand;
    }
  }

}

/* LOGIN PAGE */
.not-logged-in.page-user, .not-logged-in.page-submit-ad {
  #region-content {
    background-color: transparent;
  }
  background-color: transparent;
  .login {
    background-color: transparent;
  }
  #login-message {
    background-color: @alert;
    color: @white;
    font-weight: bold;
    padding: 10px;
    .border-radius;
  }
  #user-login {
    background-color: @darksand;
    .border-radius;
    border: 1px solid @plum;
    padding: 10px 30px;
    margin: 0px;
    .form-item {
      width: 100%;
      label {
        padding: 2px;
      }
      input {
      }
    }
  }
  #user-register-form {
    background-color: @sunlight;
    .border-radius;
    border: 1px solid @plum;
    padding: 10px 30px;
    margin: 0px;
    .form-item {
      width: 100%;
      label {
        padding: 2px;
      }
      input {
      }
    }
  }
  #login-links {
    margin:0;
    line-height: 1em;
      margin: 35px 0 10px 0;
    a {
      width: 40%;
      font-size: .9em;
      .border-radius-custom;
      line-height: 1.2em;
      border: 1pt @plum solid;
    }
    a.login-link.lt-active {
      border-bottom: 0;
    }
    #login-link{
      background-color: @darksand;
    }
    #register-link {
      background-color: @darklight;
    }
    a.lt-active {
      border-bottom: 0px;
    }

  }
}


/* SALES REP */
.sales-representative-list  {
  h2 {
    background-color: @other;
  }
  padding: 10px;
  ul {
    list-style: none;
    li  {
      width: 300px;
      min-height: 220px;
      margin: 10px;
      .border-radius;
      background-color: @lightsand;
      list-style: none;
      .views-field {
        .center;

      }
    }

  }
  .sales-area-header {
    .border-radius-custom;
    background-color: @classified_med;
    color: @white;
  }
  .views-field-field-image {
    margin-top: 10px;
  }
  .views-field-field-first-name, .views-field-field-last-name {
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
  }
/*   .views-field-contact, */
  .views-field-field-phone, .views-field-field-fax {
    font-weight: bold;
  }
}
.view-id-sales_people_page {
  ul.sales-person {
    li.views-row-even, li.views-row-odd {
      background-color: @lightsand;
    }
  }
}

/* SEARCH PAGE */
.page-search {
  .view-id-search_ads {
    .view-grouping-header a {
        width: 90%;
        background-color: @classified_med;
        color: @white;
        font-size: 1.4em;
        margin: 20px 10px;
        padding: 10px 15px 3px 15px;
        .border-radius-custom;
    }
    .search-result-wrapper {
      h3 { display: none; }
      ul {
        border: solid 3pt @classified_med;
        padding: 5px;
        li {
          list-style: none;
          padding: 5px;
        }
        li:first-line {
          font-weight: bold;
        }
      }
    }
  }
}


/*ad submission page */
body.page-ad-submit {
  #ad-s-node-form { /*general style*/

      /* mobile stylin' */
    ul.horizontal-tabs-list {
      li { width: 23%; }
      strong { font-size: .9em; }
      .form-required { display: none; }
    }
    .field-name-field-area .description,
    .field-name-field-rate .description,
    /* .field-name-field-duration .description */ {
      display: none;
    }
      /* hide details */
    #edit-field-ad-details, #field-ad-details-add-more-wrapper {
      display: none;
    }

      /*large ad copy body*/
    #edit-field-ad-copy-und-0-value {
      font-size: 1.4em;
    }

    /*empty summary box*/
    .ad-summary-directions {
      h4 {
        background-color: @classified_med;
        .border-radius-custom;
        text-align: center;
        color: @white;
        margin: 0;
        padding: 4px;
      }
      color: @white;
      padding: 5px;
      background-color: @classified_med;
      .border-radius-custom(0, 0, 10px, 10px);
      ul {
        margin: 0 0 0 20px;
        padding: 0 5px 5px 10px;
        li {
          font-size: 1em;
          line-height: 1.2em;
          margin-bottom: 6px;
          list-style-position: outside;
        }
      }
    }
    #ad-summary {
      height: 280px;
      margin: 0 30px;
      #ad-summary-price {
        dl.ad-summary {
          dt, dl, dd {
            margin: 0;
            padding: 0;
            line-height: .9em;
            font-size: .9em;
            text-align: center;
          }
          dt {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 5px;
          }
          dd {
            font-size: 1.2em; /*1.2em*/
            line-height: 1.3em;
          }
          .ad-summary-block {
            width: 100px;
            height: 40px;
            background-color: @classified_med;
            color: @white;
            text-align: center;
            margin: 6px;
            padding: 5px;
            float: left;
          }
          .ad-summary-price-block {
            width: 220px;
            height: auto;
            font-size: 1em;
            line-height: 1em;
            dt { float: left; width: 50px; }
            dd { float: right; }
          }
        }
      }
    }

    .form-wrapper {
      background-color: @lightsand;
      padding: 4px 15px;
      .border-radius;
      margin: 4px 2px;
    }


      /* HIGHLIGHTS */
      /*colour certain input fields*/
    .field-name-field-promote,
    .form-item-field-agree-und,
    .field-name-field-price {
      background-color: @darklight;
    }
      /*increase text*/
    #edit-field-image-und legend, label.edit-field-promote-und, label.edit-field-agree-und {
      width: 100%;
      text-align: center;
      font-size: 2em;
      font-weight: bolder;
      margin-bottom: 12px;
    }

    /* classififiaciton */
    #edit-field-tags-und {
      height: 25em;
      option.14 {
        font-weight: bold;
      }
    }

      /* OPTIONS */
      /* add image for emphasis */
    #edit-field-image-und {
        background-image: url(../../../../default/files/images/page/forSale.gif);
        background-repeat: no-repeat;
        background-position: 0 48px;
      .fieldset-legend {}
      .fieldset-description {
        margin: 10px 5px 40px 80px
      }
    }
      /* Liveload  */
    .form-item-field-promote-und {
      .description {
          width: 100%;
          text-align: center;
        em {
          font-size: 1.4em;
          font-weight: bolder;
          color: @classified_dark;
        }
      }
    }
    /* notes */
    .group-opt-notes-block {
      margin: 10px 0 0 0;
      background-color: @darksand;
      padding: 5px;
      .border-radius;
    }

      /*payment*/
    #node_ad_s_form_group_payment .fieldset-wrapper, .field-name-field-agree {
        width: 300px;
        margin: 0 auto 0 auto;
        display: block;
      }
    }

    /* confirm */
    .form-item-field-agree-und {
      padding: 10px;
      .border-radius;
    }


    background-color: transparent;
    border: none;
    /* HORZ tabs */
    ul.horizontal-tabs-list {
      background-color: transparent;
      border: none;
      margin-bottom: -12px;
      padding: 0;
      li {
        background-color: @darksand;
        .border-radius;
      }
      li.selected {
        background-color: @white;
      }
    }
    /*form*/
    .horizontal-tabs-panes {
      background-color: @white;
      .border-radius;
      fieldset {
        background-color: transparent;
        .border-radius(0);
      }
    }
  }


/************ Digital Edition ********/
/* Archive Page */
.view-display-id-edition_archive {
  h3 {
    height: 60px;
    text-align: center;
    vertical-align: bottom;
  }
  .wrapper-head {
    border-left: 1pt solid @lightsand;
  }
  .item-list ul li {
    margin:0;
    padding: 0;
    text-align: center;
  }
}