/****************  VARIABLES  ***********/

/* COLOURS */

@black: #000;
@white: #fff;
@gray: #e5e0dc;

@darkblue: #036;
@medblue: #36C;
@lightblue: #d1e5ff;

@plum: #303;
@peach: #FC9;
@sand: #e5e0dc;
@lightsand: lighten(@sand, 10%); 
@sunlight: rgb(255, 248, 221);

@alert: #fe4e4e;
@warning: #ff0;
@status: #fc9;


.background-color-lighten(@colour, @amount: 10) {
  background-color: lighten(@colour, @amount);
}


/*****************  MIXIN'  *****************/

/* rounded corners */
.border-radius (@radius: 10px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.border-radius-custom (@top_left: 5px, @top_right: 5px, @bottom_right: 5px, @bottom_left: 5px) {
  border-radius: @top_left @top_right @bottom_right @bottom_left;
  -moz-border-radius: @top_left @top_right @bottom_right @bottom_left;
	-webkit-border-radius: @top_left @top_right @bottom_right @bottom_left;
}

/* center block */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* drop shadow */
.text-drop-shadow (@colour: @black) {
  text-shadow: 1px 1px 0px #fff, 2px 2px 6px @colour;
}
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
	-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.box-shadow-off () {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* opacity */
.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

/* cols */
.cols (@cols: 2, @width: 1em) {
	-moz-column-count: @cols;
	-moz-column-gap: @width;
	-webkit-column-count: @cols;
	-webkit-column-gap: @width;
	column-count: @cols;
	column-gap: @width;
	
 -webkit-column-span:1; /* Chrome */
 column-span:1;

	widows: 8;
	orphans: 8;
}


/* rotate */
.rotate(@deg: 90deg) {
  transform:rotate(@deg);
  -ms-transform:rotate(@deg); /* IE 9 */
  -moz-transform:rotate(@deg); /* Firefox */
  -webkit-transform:rotate(@deg); /* Safari and Chrome */
  -o-transform:rotate(@deg); /* Opera */
}


/*****************  BASE  *****************/
body {
  background-color: @lightblue;
	background: #FFF url(../images/pw_back1.jpg) no-repeat;

  h1, h2, h3, h4, h5, h6, h7, h7, h8, a,
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a, h7 a, h8 a, {
  /*   font-size: 1.1; */
    font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: normal;
    line-height: 1.2em;
    text-decoration: none;
    letter-spacing: -0.05em;
    margin-bottom: 16px;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2.4 em;
  }
  h2 {
    font-size: 2.2 em;
  }
  h3 {
    font-size: 2 em;
  }
  h4 {
    font-size: 1.8 em;
  }
  h5 {
    font-size: 1.6 em;
  }
  h6 {
    font-size: 1.4 em;
  }
  h7 {
    font-size: 1.2 em;
  }
  h8 {
    font-size: 1 em;
  }
  
  p {
    
  }
  
  #region-content {
/*     background-color: @white; */
  }
  
  
  .block {
    background-color: @white;
    a {
      text-decoration: none;  
    }
  }

  /* style */
  fieldset {
    background-color: @sand;
    padding: 10px;
    .fieldset-wrapper {
      padding: 10px;
    }
    .collapsed .fieldset-wrapper {
      height: 30px;
      margin-left: 40px;
    }
  }
  .item-list {
    ol li {
      list-style: inherit;
      list-style-position: inside;
    }
    ul li {
      list-style: none;
      list-style-position: inherit;
    }
    ul.bullet li {
      list-style: square;
      list-style-position: inherit;
    }
  }
  
  blockquote {
    margin-left: 10%;
    padding: 2%;
    background-color: @sand;
    border: 1pt solid @plum;
    border-left: 0;
    border-right: 0;
    p {
      margin: 2%;
      padding: 2%;
    }
    p:first-line {
      font-weight: bold;
    }
  }

  /* conetextual links */
  /* TABS */
  .tabs {
    ul {
      background-color: @darkblue;
      margin: 0;
    }
  }
  #page-title {
    text-align: center;
    font-size: 3em;
    
  }

  
}


/*****************  SIDEBAR FIRST  *****************/
#region-sidebar-first .block {
  .border-radius-custom (0px, 0px, 10px, 10px);
  padding: 3px 3px 10px 3px;
  margin: 0 0 15px 0;
  .box-shadow;
  h2, #edit-search-ads-wrapper label {
    background-color: @darkblue;
    color: @white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 0 5px 0;
  }
}

/* search block */
#views-exposed-form-search-ads-search-page {
  #edit-search-ads {
    width: 130px;
    .center;
  }
  .views-exposed-widget {
    padding: 0px;
    margin: 0px;
    float: none;
  }
}

/* ad placement block */
#block-ad-payment-ad-payment-create-ad{
  text-align: center;
  a {
    font-size: 1.4em;
  }
}

/* sections */
#block-views-taxonomy-listing-block-1 {
  .box-shadow;
  div, span { 
    margin: 0; 
    padding: 0;
  }
  .views-row {
    margin: 0 0 0 5px;
    padding: 2px 0 3px 4px;
    line-height: 1.2em;
    line-spacing: -0.05em;
  }
  a {
    text-transform: capitalize;
    line-height: .8em;
  }
  a:hover {
  }
  .views-row-odd {
    background-color: @lightblue;
  }
}
.classified-section-link { /* List style for taxonomy section links. */
  list-style: none;
}

/*****************  SIDEBAR SECOND  *****************/
.view-display-id-poster_block {
  padding: 0 0 20px 0;
}

/*****************  DISPLAY ADS  *****************/
.view-display-id-poster_block {
  .views-row {
    margin-bottom: 20px;
  }
}

#block-views-display-ad-blocks-banner-block {
  background-color: inherit;
  padding: 0; margin: 0;
  a .img {
    margin: 4px auto 20px auto;
    display: block;
  }
}

/*****************  EDITORIAL  *****************/
/* default block - header*/
.view-id-editorial_views {
  h6 {
    font-size: 1em;
    line-height: 1.1em;
    text-align: center;
    letter-spacing: -0.1;
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
  }
  .field-name-body {
    line-height: 1em;
    font-size: .95em;
    letter-spacing: 0em;
    margin: 0; padding: 0;
  }
  p {margin: 0; padding: 0; }
  .field-name-node-link {
    padding: 0; margin: 0 0 20px 0;
    font-size: .8em;
    text-transform: uppercase;
  }
  /* list items */
}
/* slideshow */
.region-header-second {
  h2.block-title {
    text-transform: uppercase;
    text-align: center;
    background-color: @darkblue;
    .border-radius-custom (5px, 5px, 0, 0);
    color: @white;
    font-size: .8em;
    line-height: .9em;
    padding: 2px;
  }
  .view-content {
    height: 130px;
    background-color: @white;
  }
}
.view-editorial-slideshow  {
  .field-name-field-image {
    float: left;
    margin: 0 10px 0 0;
    height: 130px;
    overflow: hidden;
  }
  .field-name-title {
    h6 { 
      margin: 0 0 10px 0;     
      font-size: 1.6em;
      line-height: 1.4em;
      a { color: @black; }
    }
  }
  .field-name-body {
    margin: 0; padding: 0;
    letter-spacing: -0.08em;
    font-size: .9em;
    display: inline;
    visibility: hidden;
    height: 0px;float: left;
    
  }
  .field-name-node-link {
    text-transform: uppercase;
    font-size: 1.2em;
    display: inline;
  }
}

/*****************  CLASSIFIEDS  *****************/

/* section header box */
#block-views-taxonomy-listing-block-2 {
  background-color: @lightsand;
  margin: 0;
  padding: 0;
  .border-radius;
  width: 500px;
  .center;
  h2.block-title {
    text-align: center;
  }
  ul {
    padding: 10px 30px 0px 30px;
    /* .cols; */
    li {
      width: 75%;
      padding: 0 0 0 10px;
      list-style-position: inherit;
/*       list-style: square; */
    }
    .views-row-even {
      background-color: lighten(@sand, 5%);
    }
    .classified-section-link {
      list-style: square;
    }
  }
}

/* classified ads */
.content {
  .classified-ad-header {
    background-color: @white;
    .border-radius;
    h3 {
      margin: 25px 0 4px 2px;
      text-align: center;
      text-decoration: none;
      font-size: 1.4em;
      background-color: @darkblue;
      .border-radius-custom(10px, 10px, 0px, 0px);
      a {
        color: @white;
        text-decoration: none;
      }
    }
  }
  .classified-ad-section {
    list-style: none;
    /* .cols; */
    li {
      padding: 4px;
      margin: 4px 0;
      /* Individual Ads */
      .views-row {
        padding: 5px;
        margin: 0 0 5px 0;
      }
      .classified-ad-copy:first-line {
        font-weight: bolder;
      }
      /* Publish Link */
    .field-publish-link {
      display: block;
      background-color: @alert;
      color: white;
      .border-radius(4px);
      font-size: 1em;
      margin-right: 5px;
      text-align: center;
      float: left;
      a { color: @white; padding: 2px;}
    }
}
      /* zebra strip */
      .views-row-odd{
        background-color: lighten(@sand, 5);
      }
    /* liveload */
    .row-type-Liveload {
      background-color: @sunlight;
      border: 2pt dotted @warning;
    }
    .row-type-Liveload:first-line {
      color: @alert;
    }
    .views-row-odd.row-type-Liveload {
      background-color: darken(@sunlight, 5);
    }
    .views-row .Liveload-footer {
      text-align: center;
      padding: 2pt;
      text-transform: uppercase;
      font-size: .8em;
      line-height: .9em;
      font-weight: bolder;
      background-color: @warning;
    }
    .views-row .Regular-footer {
      visibility: hidden;
      height: 0px;
    }

    li:first-line {
      font-weight: bold;
    }
  }
}



/*****************  ADMIN  *****************/


/*****************  EDITORIAL  *****************/
