/****************  VARIABLES  ***********/

/* COLOURS */

@black: #000;
@white: #fff;
@gray: #e5e0dc;

@darkblue: #036;
@medblue: #36C;
@lightblue: #d1e5ff;

@plum: #303;
@peach: #FC9;
@sand: #e5e0dc;

@alert: #fe4e4e;
@warning: #ff0;
@status: #fc9;


@complement1: spin(@base, 180);
@complement2: darken(spin(@base, 180), 5%);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);

@lighter1: lighten(spin(@base, 5), 10%);
@lighter2: lighten(spin(@base, 10), 80%);
@darker1: darken(spin(@base, -5), 10%);
@darker2: darken(spin(@base, -10), 20%);





/*****************  MIXIN'  *****************/

/* rounded corners */
.border-radius (@radius: 10px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.border-radius-custom (@top_left: 5px, @top_right: 5px, @bottom_right: 5px, @bottom_left: 5px) {
  border-radius: @top_left @top_right @bottom_right @bottom_left;
  -moz-border-radius: @top_left @top_right @bottom_right @bottom_left;
	-webkit-border-radius: @top_left @top_right @bottom_right @bottom_left;
}

/* center block */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* drop shadow */
.text-drop-shadow (@colour: @black) {
  text-shadow: 1px 1px 0px #fff, 2px 2px 6px @colour;
}
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
	-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.box-shadow-off () {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* opacity */
.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

/* cols */
.cols (@cols: 2; @width: 1em) {
	-moz-column-count: @cols;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
	
 -webkit-column-span:1; /* Chrome */
 column-span:1;

	widows: 8;
	orphans: 8;
}


/* rotate */
.rotate(@deg: 90deg) {
  transform:rotate(@deg);
  -ms-transform:rotate(@deg); /* IE 9 */
  -moz-transform:rotate(@deg); /* Firefox */
  -webkit-transform:rotate(@deg); /* Safari and Chrome */
  -o-transform:rotate(@deg); /* Opera */
}


/*****************  BASE  *****************/
body {
  background-color: @lightblue;
	background: #FFF url(../images/pw_back1.jpg) no-repeat;
}

h1, h2, h3, h4, h5, h6, h7, h7, h8, a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a, h7 a, h8 a, {
  font-size: 1.1;
  font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;
  font-style: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.2em;
  text-decoration: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1.8 em;
}
h2 {
  font-size: 1.6 em;
}
h3 {
  font-size: 1.4 em;
}
h4 {
  font-size: 1.2 em;
}
h5 {
  font-size: 1 em;
}
h6 {
  font-size: .9 em;
}
h7 {
  font-size: .8 em;
}
h8 {
  font-size: .7 em;
}


#region-content {
  background-color: @white;
}


.block {
  background-color: @white;
  a {
    text-decoration: none;  
  }
}

/*****************  SIDEBAR FIRST  *****************/
#region-sidebar-first .block {
  .border-radius-custom (0px, 0px, 10px, 10px);
  padding: 3px 3px 10px 3px;
  margin: 0 0 15px 0;
  .box-shadow;
  h2, #edit-search-ads-wrapper label {
    background-color: @darkblue;
    color: @white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 0 5px 0;
  }
}

/* search block */
#edit-search-ads {
  width: 130px;
  .center;
}

/* sections */
.view-display-id-block_1 {
  .box-shadow;
  div, span { margin: 0; padding: 0;}
  a {
    text-decoration: none;
    padding-bottom: 3px;
    text-transform: capitalize;
    line-height: .8em;
  }
  a: hover {
    text-decoration: none;
    font-weight: bolder;
  }
  .views-row-odd {
    background-color: @lightblue;
  }
}

/*****************  SIDEBAR SECOND  *****************/
.view-display-id-poster_block {
  padding: 0 0 20px 0;
}

/*****************  FRONT  *****************/


/*****************  CLASSIFIEDS  *****************/
.content {
  .classified-ad-section {
    /* section headers */
    h3 {
      text-align: center;
      text-decoration: none;
    }
  }
  ul.classified-ad-section {
    list-style: none;
    .cols;
    li {
      padding: 4px 5px 4px 4px;
      margin: 0 0 4px 4px;
      .edit-link {
        display: block;
        background-color: @alert;
        color: white;
        .border-radius(4px);
        float: left; 
        font-size: 1em;
      } 
      .edit-link-small {
        font-size: .8em;
        text-transform: uppercase;
        margin-right: 5px;
        text-align: center;
      }
    }
    li:first-line {
      font-weight: bold;
    }
    li.views-row-odd {
      background-color: @lighten(@sand);
    }
  }
}

/*****************  EDITORIAL  *****************/


/*****************  ADMIN  *****************/


/*****************  EDITORIAL  *****************/
