/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* center block */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.col {
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
	
 -webkit-column-span:1; /* Chrome */
 column-span:1;

	widows: 8;
	orphans: 8;
}


/************ UNHIDE MOBILE REGIONS ************/
#zone-postscript, #zone-threeup, #zone-header, #region-header-second {
  visibility: visible;
  height: auto;
}


/********** DEFAULT *********/
body {
  h1, h2, h3, h4, h5, h6, h7, h7, h8, a,
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a, h7 a, h8 a, {
  /*   font-size: 1.1; */
    font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: normal;
    line-height: 1.2em;
    text-decoration: none;
    letter-spacing: -0.05em;
    margin-bottom: 16px;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2.4 em;
  }
  h2 {
    font-size: 2.2 em;
  }
  h3 {
    font-size: 2 em;
  }
  h4 {
    font-size: 1.8 em;
  }
  h5 {
    font-size: 1.6 em;
  }
  h6 {
    font-size: 1.4 em;
  }
  h7 {
    font-size: 1.2 em;
  }
  h8 {
    font-size: 1 em;
  }

}

#page-title {
  text-align: center;
  font-size: 2.8em;
  margin-bottom: 0px;
}

/* contact info */
#block-pennywise-pw-contact {
  .pw-contact-toll_free-wrapper {
    font-size: 1em;
  }
  .pw-contact-local_phone-wrapper, .pw-contact-fax-wrapper, .pw-contact-address-wrapper {
    display: block;
  }
}

/* header */
#region-header-second {
  display: block;
}
/****** classifieds *******/
/* Classifed - Sub-section links */
.classified-sub_section-links {
  .col;
}
.classified-ad-section, #block-views-taxonomy-listing-block-2 .content ul  {
 .col;
}

/* classified - single ad page */
.node-type-classified {
  .ds-2col-stacked {
    .group-left {
      width: 40%;
    }
    .group-right {
      width: 60%;
    }
  }
  .classified-detail-box {
    margin: 0 10px;
  }
  .field-name-field-ad-copy {
    font-size: 1.6em;
  }
  .field-name-field-ad-copy :first-line {
    font-weight: bold;
  }
}



/****** display ads ********/
.view-display-id-poster_block {
    .center;
  .views-row {
    margin-bottom: 20px;
  }
  .view-footer {
    clear: both;
  }
}


/*** sales reps ****/
.sales-representative-list {
  ul {
    li {
      max-width: 250px;
    }
    .views-row-odd {
      clear: both;
      float: right;
    }
    .views-row-even {
      float: left;
    }
  }
}

/* editorial */
.editorial-page-highlight-attachment {
  .views-field-body {
    p {
      .col;
    }
  }
}


/* Ad Submission Page */
/*ad submission page */
body.page-ad-submit {
  .vertical-tabs {
    margin: 4em 0 1em 15em;
  }
  #ad-s-node-form { /*general style*/
    .field-name-field-area .description,
    .field-name-field-rate .description,
    #edit-field-ad-details
    /* .field-name-field-duration .description */ {
      display: block;
    }
        /*large ad copy body*/
    #edit-field-ad-copy-und-0-value {
      font-size: 2em;
    }
    #node_ad_s_form_group_payment {
      .fieldset-wrapper {
        margin: 0 20% 0 35%;
      }
    }
    #edit-field-ad-copy {
      width: 590px;
      float: left;
    }
    #ad-summary {
      margin: 0;
      height: auto;
      width: 250px;
      float: right;
    }
  }
}