/* COLOURS */

@black: #000;
@white: #fff;
@gray: #e5e0dc;

@classified_dark: #036;
@classified_med: lighten(@classified_dark, 15); // #36C;
@classified_light: #d1e5ff;

@editorial: #339a00;
@editorial_light: #a4d2b3; /* lighten(@editorial, 25); */
@editorial_dark: #060; /* darken(@editorial, 10); */

@other: #fc4021; /*  #F63;  */
@other_dark: darken(@other, 25);
@other_light: lighten(@other, 25);
@other_extra_light: lighten(@other_light, 25);

@plum: #303;
@peach: #FC9;

@sand: #e5e0dc;
@lightsand: lighten(@sand, 10%);
@darksand: darken(@sand, 5);

@sunlight: rgb(255, 248, 221);
@darklight: darken(@sunlight, 5);

@alert: #fe4e4e;
@warning: #ff0;
@status: lighten(#060, 10);

@highlight: lighten(#900, 20);

/* rounded corners */
.border-radius (@radius: 10px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.border-radius-custom (@top_left: 10px, @top_right: 10px, @bottom_right: 0, @bottom_left: 0) {
  border-radius: @top_left @top_right @bottom_right @bottom_left;
  -moz-border-radius: @top_left @top_right @bottom_right @bottom_left;
	-webkit-border-radius: @top_left @top_right @bottom_right @bottom_left;
}

/* drop shadow */
.drop-shadow (@x: 3px, @y: 3px, @depth: 4px, @colour: @darksand) {
  -moz-box-shadow: @x @y @depth @colour;
  -webkit-box-shadow: @x @y @depth @colour;
  box-shadow: @x @y @depth @colour;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


/* center block */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/******************** !PAYMENT CSS ********/

/* CSS */
.form-feedback-step {
  padding: 2px 20px;
  size: 2em;
}
.form-feedback-step-highlight {
  background-color: yellow;
}
.element-error {
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  padding-left: 40px;
  color: #fff;
  background-color: #fff;
}
#ad-s-node-form {
  .multipage-controls-list input.form-submit{
        background-color: @other;
  }
}

/*
 #ad-s-node-form {
   .multipage-controls-list {
   }
   .multipage-button {
     margin: 10px;
     padding: 20px;
     .border-radius;
     background-color: @darksand;
     .center;
     .drop-shadow;
     .multipage-link-previous, .multipage-link-next {
       margin: 200px;
       padding: 10px;
       background-color: @lightsand;
       color: @darksand;
       .border-radius;
     }
   }
 }
*/
